body{
    width: 1190px;
    height: 1684px;
    display: flex;
    flex-direction: row;
}

aside{
    width: 383px;
    height: 1684px;
    display: flex;
    flex-direction: column;
}

main{
    width: 799px;
    height: 1684px;
    display: flex;
    flex-direction: column;
    background-color: olive;
      }

      /*******photo************/

      .photo{
          width: 383px;
          height: 330px;
          background-color:rgb(129,199,132);
      }
      img{
          margin-top: 61px;
          margin-bottom: 39px;
          width: 222px;
          height: 218px;
          border-radius: 50%;
         
          

      }
      figure{
          width: 383px;
          height: 330px;
          margin-top: 0px;
          margin-bottom: 0px;
          margin-left: 0px;
          display: block;
          text-align: center;
      }

      /*******Contact************/

      .contact{
        width: 383px;
        height: 395px;
        background-color: rgb(129,199,132);
       

      }
      .contact h3{
          height: 45px;
          background-color: grey;
          margin: 0;
          font-size: 2em;
          text-align: center;
      }
      .item1{
          padding-left: 44px;
          font-family: 'Roboto', sans-serif;
          font-weight: 100 thin;
      }

       /*******A propos de moi************/

       .A_propos{
        width: 383px;
        height: 780px;
        background-color: rgb(129,199,132);
       

      }
      .A_propos h3{
        height: 45px;  
        background-color: grey;
        margin: 0 auto;
        font-size: 2em;
        text-align:center ;
    }
      .mon_propos{
          margin: 38 44 38 44;
          text-align: center;
          font-size: 1.4em;
          background-color: brown;
      }

       /*******Loisirs************/

       .Loisirs{
        width: 383px;
        height: 179px;
        background-color: rgb(129,199,132);
        

      }
      .Loisirs h3{
        height: 45px;
        background-color: grey;
        margin: 0 auto;
        font-size: 2em;
        text-align:center ;
    }
    .icones{
        width: 383px;
        height: 157px;
        margin-bottom: 0px;
        background-color: rgb(161,136,127);
        display: flex;
        justify-content: space-around;
        align-items: center;
        

    }

      /************************
      **************************
      *************************/

      header{
          width: 799px;
          height: 332px;
          background-color: khaki;
         
      }
      header h1 {
          font-size: 45px;
          text-transform: uppercase;
          padding-top: 113px;
          padding-left: 64px;
      }
      header h2 {
        font-size: 25px;
        text-transform: uppercase;
        padding-left: 64px;
    }

      .Formations{
        width: 799px;
        height: 476px;
        background-color: rgb(0, 217, 255);
    }
    .Formations h3{
        padding-left: 144px;
    }

    .Expérience_professionnel{
        width: 799px;
        height: 619px;
        background-color: red;
    }
    .Expérience_professionnel h3{
        padding-left: 144px;
    }

    .Recommandations{
        width: 799px;
        height: 266px;
        background-color: gray;
    }
    .Recommandations h3{
        padding-left: 144px;
    }

   /****************mediaqueries***********/
/*
   @media only screen and (max-device-width:480px){
       body{
           
           background-color: rgb(120,144,156);
           flex-direction: row;  }
       }
       */