body{
    width: 1190px;
    height: 1684px;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

aside{
    width: 383px;
    height: 1684px;
    background-color: rgb(30,144,255);
    display: flex;
    flex-direction: column;
}

main{
    width: 799px;
    height: 1684px;
    margin: 0;
    display: flex;
    flex-direction: column;
    
      }
  
      .dev{
          border-bottom: 2px solid rgb(30,144,255);
      }
      .prénom{
          color: rgb(30,144,255);
      }
      

      /*******photo************/

      .photo{
          width: 383px;
          height: 330px;
        
      }
      img{
          margin-top: 61px;
          margin-bottom: 39px;
          width:200px;
          border-radius: 50%;
          
         
          

      }
      figure{
          width: 383px;
          height: 330px;
          margin-top: 0px;
          margin-bottom: 0px;
          margin-left: 0px;
          display: block;
          text-align: center;
      }

      /*******Contact************/

      .contact{
        width: 383px;
        height: 395px;
        
       

      }
      .contact h3{
          
          background-color:rgb(0,255,255);
          margin: 0;
          font-size: 1.6em;
          text-align: center;
          color: rgb(30,144,255);
      }
      .item1{
          padding-left: 44px;
         
         
      }

       /*******A propos de moi************/

       .A_propos{
        width: 383px;
        height: 780px;
      
       

      }
      .A_propos h3{
        color: rgb(30,144,255);
        background-color: rgb(0,255,255);
        margin: 0 auto;
        font-size: 1.6em;
        text-align:center ;
    }
      .mon_propos{
          margin: 38 44 38 44;
          text-align: center;
          font-size: 1.4em;
          ;
      }

       /*******Loisirs************/

       .Loisirs{
        width: 383px;
        height: 191px;
      

        

      }
      .Loisirs h3{
        color: rgb(30,144,255); 
        background-color: rgb(0,255,255);
        margin: 0 auto;
        font-size: 1.6em;
        text-align:center ;
    }
    .icones{
        width: 383px;
        height: 157px;
        margin-bottom: 0px;
       
        display: flex;
        justify-content: space-around;
        align-items: center;
        

    }

      /************************
      **************************
      *************************/

      header{
          width: 799px;
          height: 332px;
         
          
       
         
      }
      header h1 {
          font-size: 45px;
          text-transform: uppercase;
          padding-top: 100px;
          padding-left: 64px;
      }
      header h2 {
        font-size: 25px;
        text-transform:unset;
        padding-left: 64px;
    }

      .Formations{
        width: 799px;
        height: 463px;
       
    }
    .Formations h3{
        font-size: 1.6em;
        text-transform: uppercase;
        padding-left: 33px;
        margin-bottom: 0;

    }

    .Expérience_professionnelle{
        width: 799px;
        height: 625px;
       
    }
    .Expérience_professionnelle h3{
        font-size: 1.6em;
        text-transform: uppercase;
        padding-left: 33px;
        margin-bottom: 0;
     
    }

    .Recommandations{
        width: 799px;
        height: 264px;
        
       
    }
    .Recommandations h3{
       font-size: 1.6em;
       text-transform: uppercase;
       padding-left: 33px;
       margin-bottom: 0;
       
        
    }
    .article{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
     
    
    }
    /***********les articles***********/
    .article1,.article2,.article3,.article4,.article5{
        display: flex;
        justify-content: space-around;
    }
    .dates{
        width:33% ;
    }
    .dates p{
        text-align: center;
        float: center;
    }
    .textes{
        width:55% ;
    }
    .textes h4{
        text-transform: uppercase;
    }
    .textes h5{
        font-weight: normal;
    }
    
    /**********************
    ******************/
    .fa-dot-circle{
        padding-right: 15px;
        color: rgb(30,144,255);
        
    }
    .fa-circle{
        padding-right: 15px;
        color: rgb(30,144,255);
    }
   .fa-graduation-cap,.fa-briefcase,.fa-pencil-alt{
       padding-bottom: 0;
       margin-bottom: 0;
       color: rgb(30,144,255);
       align-self: flex-end;
      

      
       
       
   }
   .titres{
       display: flex;
       padding-left: 80px;
       margin-bottom: 0;
     
       

   }
   /****************mediaqueries***********/

