*{
    box-sizing: border-box;
}
body{
    
    width:100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    
}
#contenu{

    border: solid 1px rgb(30,144,255);
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    
}


aside{
    width:30%;
    background-color: rgb(30,144,255);
    display: flex;
    flex-direction: column;
    
}

main{
    width: 70%;
    
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
   
    

    
      }
  
      .dev{
          border-bottom: 2px solid rgb(30,144,255);
      }
      .prénom{
          color: rgb(30,144,255);
      }
      

      /*******photo************/

      .photo{
          width: 100%;
          padding-bottom: 0%;
          
        
      }
      img{
          margin-top: 2%;
          margin-bottom: 5%;
          max-width:60%;
          height: auto;
          border-radius: 50%;
          
         
          

      }
      figure{
          width: 100%;
          margin-top: 0%;
          margin-bottom: 0%;
          margin-left: 0%;
          text-align: center;
      }
      .trait{
          border-style: solid;
          color: rgb(30,144,255);
          width: 85%;
      }
     

      /*******Contact************/

      .contact{
        width: 100%;
        
        
        
       

      }
      .contact h3{
          margin-top: 0;    
          background-color:rgb(0,255,255);
          font-size: 1.25em;
          text-transform: capitalize;
          text-align: center;
          color: rgb(30,144,255);
      }
      .item1{
          width: 100%;
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          padding-left: 10%;
          font-size: 0.99rem;
         
         
      }

       /*******A propos de moi************/

       .A_propos{
        width: 100%;
        flex-grow: 2;
    
        
      
       

      }
      .A_propos h3{
        color: rgb(30,144,255);
        background-color: rgb(0,255,255);
        margin: 0 auto;
        font-size: 1.25em;
        text-transform: capitalize;
        text-align:center ;
    }
      .mon_propos{
          width: 90%;
          margin-top: 8%;
          margin-left: 5%;
          margin-right: 5%;
          margin-bottom: 0%;
          text-align: center;
          font-size: 0.9em;
          
      }

       /*******Loisirs************/

       .Loisirs{
        width: 100%;
        flex-grow: 0.3;
        
        
     
       
        
        
      

        

      }
      .Loisirs h3{
        margin:0;  
        color: rgb(30,144,255); 
        background-color: rgb(0,255,255);;
        font-size: 1.25em;
        text-transform: capitalize;
        text-align:center ;
    }
    .icones{
        width: 100%;
        padding-top: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;

       
        
        

    }

      /************************
      **************************
      *************************/

      header{
          width: 100%;
          display: flex;
          padding-top: 10%;
          align-items: flex-start;
          flex-direction: column;
          padding-bottom: 6%;
        

         
     
         
          
         
          
       
         
      }
      header h1 {
          font-size: 2em;
          text-transform: uppercase;
          margin-bottom: 0%;
          padding-left: 7%;
      }
      header h2 {
          margin-top:0;
        font-size: 1.55em;
        text-transform:unset;
        padding-left: 7%;
    }

      .Formations{
        width: 100%;
        
        
        
       
    }
    .Formations h3{
        font-size: 1.25em;
        text-transform: uppercase;
        padding-left: 3%;
        margin-bottom: 0;

    }

    .Expérience_professionnelle{
        width: 100%;
       
        
    
       
    }
    .Expérience_professionnelle h3{
        font-size: 1.25em;
        text-transform: uppercase;
        padding-left: 3%;
        margin-bottom: 0;
     
    }

    .Recommandations{
        width: 100%;
        margin: 0%;

       
      
      
        
       
    }
    .Recommandations h3{
       font-size: 1.25em;
       text-transform: uppercase;
       padding-left: 3%;
       margin-bottom: 0;

       
        
    }
    .article{
        margin-bottom: 7%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
     
    
    }
    /***********les articles***********/
    .article1,.article2,.article3,.article4,.article5{
        display: flex;
        justify-content: space-around;
        margin-bottom: 0%;
    }
    .dates{
        width:33% ;
    }
    .dates p{
        text-align: center;
        
    }
    .textes{
        width:55% ;
        margin: 0;
        padding: 0;
    }
    .textes h4{
        text-transform: uppercase;
        margin-bottom: 2%;
     
    }
    .textes h5{
        margin-top: 0%;
        margin-bottom: 1%;
        font-weight: 100;
        font-size: 1em;
    }
    .textes p{
        width: 90%;
        margin-top: 2%;
        margin-bottom: 0%;
        font-weight: 100;
        font-size: 1em;
    }
    
    /**********************
    ******************/
    .fa-dot-circle{
        padding-right: 15px;
        color: rgb(30,144,255);
        
    }
    .fa-circle{
        padding-right: 15px;
        color: rgb(30,144,255);
    }
   .fa-graduation-cap,.fa-briefcase,.fa-pencil-alt{
       padding-bottom: 0;
       margin-bottom: 0;
       color: rgb(30,144,255);
       align-self: flex-end;
      

      
       
       
   }
   .titres{
       display: flex;
       padding-left: 7%;
       margin-bottom: 0;
     
       

   }
   /****************mediaqueries***********/
  @media (min-width: 768px) and (max-width: 1024px){ 
      body{
          display: block;
          font-size: 1em;
          
      }
      #contenu{
          width: 90%;
          margin-left: 5%;
          margin-right: 5%;
          display:flex ;
          justify-content: flex-start;
          flex-direction: column-reverse;
      }
      aside,main{
          width: 100%;
         
      }
      .photo{
          width: 38%;
          position: absolute;
          top:3%;
          left: 45%;
          background: rgb(30,144,255);
          box-shadow: 0 0 0.3em 0.3em rgb(30,144,255);
          border-radius: 7%;
          border:2px solid rgb(0,255,255);
          
      }
      header{
         
          width: 40%;
          padding-bottom: 0%;
          float: left;
          font-size: 1em;
      }
      .mon_propos{
          margin-bottom: 8%;
      }
      .item1{
          text-align: center;
          padding-left: 0%;
      }
      
     
   } 
   @media (min-width: 480px) and (max-width: 767px){ 
    body{
        display: block;
        font-size: 1em;
        
    }
    #contenu{
        width: 100%;
        display:flex ;
        justify-content: flex-start;
        flex-direction: column-reverse;
    }
    aside,main{
        width: 100%;
    }
    .photo{
        width: 40%;
        position: absolute;
        top:3%;
        left: 55%;
        background: rgb(30,144,255);
        box-shadow: 0 0 0.3em 0.3em rgb(30,144,255);
        border-radius: 7%;
        border:2px solid rgb(0,255,255);
        
    }
    header{
        width: 50%;
        padding-bottom: 0%;
        float: left;
        font-size: 1em;
    }
    h1,h2{
        padding-left: 2%;
    }
    .mon_propos{
        margin-bottom: 8%;
    }

    .item1{
        text-align: center;
        padding-left: 0%;
    }

   
 } 
 @media (min-width: 280px) and (max-width: 479px){ 
    body{
        display: block;
        font-size: 1em;
        box-sizing: border-box;
        
    }
    #contenu{
        width: 100%;
        display:flex ;
        justify-content: flex-start;
        flex-direction: column-reverse;
    }
    aside,main{
        width: 100%;
    }
    .photo{
        width: 37%;
        position: absolute;
        top:3%;
        left: 55%;
        background: rgb(30,144,255);
        box-shadow: 0 0 0.3em 0.3em rgb(30,144,255);
        border-radius: 7%;
        border:2px solid rgb(0,255,255);
        
    }
    header{
        width: 45%;
        padding-bottom: 0%;
        float: left;
        font-size: 0.5em;
    }
    h1,h2{
        padding-left: 2%;
    }

    .item1{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-left: 10%;
        font-size: 0.8rem;
        text-align: center;
       
    }
    .mon_propos{
        margin-bottom: 8%;
    }
    .article{
        width: 100%;
        margin-bottom: 0%;
      
        
    }
    .article p{
        width: 100%;
        font-size: 0.6rem;
        margin-top: 0%;
        
    }
    .article h5{
        margin-top: 3%;
        margin-bottom: 0%;
    }

   
 } 
 @media (min-width: 130px) and (max-width: 279px){ 
    body{
        display: block;
        font-size: 0.6em;
        box-sizing: border-box;
        
    }
    #contenu{
        width: 100%;
        display:flex ;
        justify-content: flex-start;
        flex-direction: column-reverse;
    }
    aside,main{
        width: 100%;
    }
    .photo{
        width: 37%;
        position: absolute;
        top:3%;
        left: 55%;
        background: rgb(30,144,255);
        box-shadow: 0 0 0.3em 0.3em rgb(30,144,255);
        border-radius: 7%;
        border:2px solid rgb(0,255,255);
        
    }
    header{
        width: 45%;
        padding-bottom: 0%;
        float: left;
        font-size: 0.6em;
    }
    h1{ 
        margin-top: 0%;
        padding-left: 0%;
        
    }
    h3{
        font-size: 0.5rem;
    }
    h4{
        font-size: 0.5rem;
    }

    .item1{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-left: 10%;
        font-size: 0.6rem;
        text-align: center;
       
       
    }
    .mon_propos{
        margin-bottom: 8%;
    }

   
 } 
 